
@page "/guessMyNumber"

<h3>Let's play 'Guess my number'!</h3>
<p>I'm thinking of a number between 0 and 20.</p>
<p>Enter your guess, or -1 to give up.</p>

<input type="number" @bind="guessInput" placeholder="Enter your guess here" />

<button class="btn btn-primary" @onclick="CheckGuess">Guess</button>

    <p>@resultMessage</p>


@code
{
    public int theNumber;
    public int guessNum;
    public int guessCount;
    public bool keepGoing;
    public string resultMessage;
    public string guessInput;

    private void CheckGuess()
    {

        // TryParse den försöker göra om en string till en int
        //Om den lyckas så sparar int:en i våran out variablen => "guessNum"
        if (!int.TryParse(guessInput, out guessNum))
        {
            resultMessage = $"Hmmm, that doesn't look like a number. Try again.";
            return;
        }



        if (guessNum == -1)
        {
            resultMessage = $"Hmm, Oh well. I was thinking of {theNumber} better luck next time!";

        }
    }
}